<div id="CartSection" data-section-id="{{ section.id }}" data-section-type="cart-template" data-notes-enable="{{ section.settings.cart_notes_enable }}">

    <form action="{{ routes.cart_url }}" method="post" novalidate class="cart">

        <section class="cart_area section_padding">
            <div class="container">
                <div class="cart_inner">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">{{ 'customer.order.product' | t }}</th>
                                <th scope="col">{{ 'cart.label.price' | t }}</th>
                                <th scope="col">{{ 'cart.label.quantity' | t }}</th>
                                <th scope="col">{{ 'cart.label.total' | t }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in cart.items %}
                                <tr>
                                    <td>
                                        <div class="media">
                                            <div class="d-flex">
                                                <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}" />
                                            </div>
                                            <div class="media-body">
                                                <p>{{ item.product.title }}</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <h5>{{ item.final_price | money }}</h5>
                                    </td>
                                    <td>
                                        <div class="product_count">
                                            <label for="updates_{{ item.key }}" class="cart__mini-labels"></label>
                                            <span class="input-number-decrement"> <i class="ti-minus"></i></span>
                                            <input type="text" class="input-number" name="updates[]" id="updates_{{ item.key }}"
                                                   value="{{ item.quantity }}" min="0" aria-label="{{ 'cart.label.quantity' | t }}">
                                            <span class="input-number-increment"> <i class="ti-plus"></i></span>
                                        </div>
                                    </td>
                                    <td>
                                        <h5>{{ item.original_line_price | money }}</h5>
                                    </td>
                                </tr>
                            {% endfor %}

                            <tr class="bottom_button">
                                <td>
                                    <button type="submit" name="update" class="btn_1" >{{ 'cart.general.update' | t }}</button>
                                </td>
                                <td></td>
                                <td></td>
                                <td>
                                    <div class="cupon_text float-right">
                                        <a class="btn_1" href="#">Close Coupon</a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>
                                    <h5>{{ 'cart.general.subtotal' | t }}</h5>
                                </td>
                                <td>
                                    <h5>{{ cart.total_price | money }}</h5>
                                </td>
                            </tr>

                            <tr class="shipping_area">
                                <td></td>
                                <td></td>
                                <td>
                                    <h5>{{ 'customer.order.shipping' | t }}</h5>
                                </td>
                                <td>
                                    <div class="shipping_box">
                                        <ul class="list">
                                            <li>
                                                Flat Rate: $5.00
                                                <input type="radio" aria-label="Radio button for following text input">
                                            </li>
                                            <li>
                                                Free Shipping
                                                <input type="radio" aria-label="Radio button for following text input">
                                            </li>
                                            <li>
                                                Flat Rate: $10.00
                                                <input type="radio" aria-label="Radio button for following text input">
                                            </li>
                                            <li class="active">
                                                Local Delivery: $2.00
                                                <input type="radio" aria-label="Radio button for following text input">
                                            </li>
                                        </ul>
                                        <h6>
                                            Calculate Shipping
                                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                                        </h6>
                                        <select class="shipping_select">
                                            <option value="1">Bangladesh</option>
                                            <option value="2">India</option>
                                            <option value="4">Pakistan</option>
                                        </select>
                                        <select class="shipping_select section_bg">
                                            <option value="1">Select a State</option>
                                            <option value="2">Select a State</option>
                                            <option value="4">Select a State</option>
                                        </select>
                                        <input class="post_code" type="text" placeholder="Postcode/Zipcode" />
                                        <a class="btn_1" href="#">Update Details</a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="checkout_btn_inner float-right">
                            <a class="btn_1" href="{{ routes.all_products_collection_url }}">{{ 'cart.general.continue_shopping' | t }}</a>
                            <button type="submit" name="checkout" class="btn_1 checkout_btn_1" href="#">{{ 'cart.general.checkout' | t }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </form>

</div>
{% if condition %}

{% endif %}


{% schema %}
{
"name": {
"en": "Cart page"
},
"settings": [
{
"type": "checkbox",
"id": "cart_notes_enable",
"label": {
"en": "Enable order notes"
}
}
]
}
{% endschema %}