<div class="slider-area ">
    <div class="slider-active">
        {%- for block in section.blocks -%}
            <div class="single-slider slider-height d-flex align-items-center slide-bg">
                <div class="container">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                            <div class="hero__caption">
                                <h1 data-animation="fadeInLeft" data-delay=".4s" data-duration="2000ms">{{ section.settings.title }}</h1>
                                <p data-animation="fadeInLeft" data-delay=".7s" data-duration="2000ms">{{ section.settings.description }}</p>
                                <!-- Hero-btn -->
                                {%- assign show_link_button = false -%}
                                {%- if block.settings.button_label != blank and block.settings.button_link != blank -%}
                                    {%- assign show_link_button = true -%}
                                {%- endif -%}
                                {%- unless block.settings.slide_heading == blank and show_link_button == false -%}
                                    <div class="hero__btn" data-animation="fadeInLeft" data-delay=".8s" data-duration="2000ms">
                                        {%- if show_link_button -%}
                                            <a href="{{ block.settings.button_link }}" class="btn hero-btn">{{ block.settings.button_label | escape }}</a>
                                        {%- endif -%}
                                    </div>
                                {%- endunless -%}
                            </div>
                        </div>
                        <!--           End context -->
                        {%- if block.settings.image != blank -%}
                            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 d-none d-sm-block">
                                <div class="hero__img" data-animation="bounceIn" data-delay=".4s">
                                    <img src="{{ block.settings.image | img_url: '1200x1200' }}" alt="{{ block.settings.image.alt | escape }}" class=" heartbeat">
                                </div>
                            </div>
                        {%- endif -%}
                        <!--           End img -->
                    </div>
                </div>
            </div>
        {%- endfor -%}
    </div>
    <!--  /slider-active  -->
</div>
<!--  /slider-area -->


{% schema %}
{
"name": {
"en": "Slideshow main"
},
"max_blocks": 6,
"settings": [
{
"id": "title",
"type": "text",
"label": "Heading",
"default": "Title"
},
{
"id": "description",
"type": "text",
"label": "Description",
"default": "Add description"
},
{
"type": "select",
"id": "slider_height",
"label": {
"en": "Slide height"
},
"info": {
"en": "Learn more about [slideshow guidelines](https://help.shopify.com/en/manual/using-themes/themes-by-shopify/minimal#slideshow-sections-specific)"
},
"options": [
{
"value": "small",
"label": {
"en": "Small"
}
},
{
"value": "medium",
"label": {
"en": "Medium"
}
},
{
"value": "large",
"label": {
"en": "Large"
}
},
{
"value": "adapt",
"label": {
"en": "Adapt to first slide"
}
}
]
},
{
"type": "checkbox",
"id": "slider_autorotate",
"default": false,
"label": {
"en": "Auto-rotate slides"
}
},
{
"type": "range",
"id": "slider_autorotate_rate",
"label": {
"en": "Change slides every"
},
"max": 9,
"min": 3,
"step": 2,
"unit": {
"en": " s"
},
"default": 5
},
{
"type": "select",
"id": "slider_home_transition",
"label": {
"en": "Transition effect"
},
"options": [
{
"value": "fade",
"label": {
"en": "Fade"
}
},
{
"value": "slide",
"label": {
"en": "Slide"
}
}
]
},
{
"type": "select",
"id": "text_size",
"label": {
"en": "Text size"
},
"default": "medium",
"options": [
{
"value": "small",
"label": {
"en": "Small"
}
},
{
"value": "medium",
"label": {
"en": "Medium"
}
},
{
"value": "large",
"label": {
"en": "Large"
}
}
]
}
],
"blocks": [
{
"type": "image",
"name": {
"en": "Slide"
},
"settings": [
{
"type": "image_picker",
"id": "image",
"label": {
"en": "Image"
}
},
{
"type": "select",
"id": "alignment",
"label": {
"de": "Foto-Position"
},
"default": "center center",
"options": [
{
"label": {
"en": "Top left"
},
"value": "left top"
},
{
"label": {
"cs": "Nahoře ve středu",
"da": "Øverst i midten",
"de": "Oben Mitte",
"en": "Top center"
},
"value": "center top"
},
{
"label": {
"en": "Top right"
},
"value": "right top"
},
{
"label": {
"en": "Middle left"
},
"value": "left center"
},
{
"label": {
"en": "Middle center"
},
"value": "center center"
},
{
"label": {
"en": "Middle right"
},
"value": "right center"
},
{
"label": {
"en": "Bottom left"
},
"value": "left bottom"
},
{
"label": {
"en": "Bottom center"
},
"value": "center bottom"
},
{
"label": {
"en": "Bottom right"
},
"value": "right bottom"
}
]
},
{
"type": "range",
"id": "overlay_opacity",
"label": {
"en": "Overlay opacity"
},
"min": 0,
"max": 100,
"step": 1,
"unit": {
"en": "%"
},
"default": 30
},
{
"type": "header",
"content": {
"en": "Text"
}
},
{
"type": "color",
"id": "color_text",
"label": {
"en": "Text color"
},
"default": "#ffffff"
},
{
"type": "select",
"id": "text_alignment",
"label": {
"en": "Text alignment"
},
"default": "center",
"options": [
{
"label": {
"en": "Left"
},
"value": "left"
},
{
"label": {
"en": "Center"
},
"value": "center"
},
{
"label": {
"en": "Right"
},
"value": "right"
}
]
},
{
"type": "text",
"id": "slide_heading",
"default": "Image slide",
"label": {
"en": "Heading"
}
},
{
"type": "text",
"id": "button_label",
"label": {
"en": "Button label"
}
},
{
"type": "url",
"id": "button_link",
"label": {
"en": "Button link"
}
}
]
}
],
"presets": [
{
"name": {
"en": "Slideshow Main"
},
"category": {
"en": "Image"
},
"settings": {
"slider_autorotate": false,
"slider_autorotate_rate": 5,
"slider_home_transition": "slide"
},
"blocks": [
{
"type": "image"
},
{
"type": "image"
}
]
}
]
}
{% endschema %}
