{% comment %}

  This snippet defines the default structure of each search result.

  'item' refers to the result, but typically mimics the product liquid tag,
  so you can access product liquid tags with {{ item.XXX }}.

  Remember that results aren't specific to products, so don't depend on
  a featured image or item.type. Pages, for example, have a blank item.type.

  Product liquid tag info:
   - http://docs.shopify.com/themes/liquid-variables/product

{% endcomment %}


{% if search.performed %}
    {% if search.results_count == 0 %}
        <div class="blog_item">Ваш запрос <span >"{{ search.terms }}"</span> не дал никаких результатов.</div>
    {% else %}

        {% for item in search.results %}
            <div class="blog_left_sidebar">
                {% for article in blog.articles %}
                    <article class="blog_item">
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" src="{{ article.image }}" alt="">
                            <a href="#" class="blog_item_date">
                                <h3>{{ article.published_at | date: '%d' }}</h3>
                                <p>{{ article.published_at | date: '%b' }}</p>
                            </a>
                        </div>

                        <div class="blog_details">
                            <h2><a class="d-inline-block" href="{{ article.url }}">{{ article.title }}</a></h2>

                            <p>
                                {% if article.excerpt.size > 0 %}
                                    {{ article.excerpt }}
                                {% else %}
                            <p>{{ article.content}}</p>
                            {% endif %}
                            </p>
                            <ul class="blog-info-link">
                                <li><a href="#"><i class="fa fa-user"></i>{{ article.author }}</a></li>
                                <li><a href="#"><i class="fa fa-comments"></i>123 </a></li>
                            </ul>
                        </div>
                    </article>
                {% endfor %}

                {% if paginate.pages > 1 %}
                    <nav class="blog-pagination justify-content-center d-flex">
                        {% include 'pagination-custom' %}
                    </nav>
                {% endif %}



            </div>
        {% endfor %}
    {% endif %}
{% endif %}